.main_form {
    border: 5px double navy;
    width: 400px;
    /* inner-spacing means inside the box spacing */
    padding: 20px;
    /* outer-spacing means outside the word's box spacing */
    margin: 40px;
}

.label_css {
    color: brown;
    font-weight: bold;
    /* border: 2px solid red; */
    display: block;
    margin: 20px;
    padding: 5px;
}

.input_css {
    display: block;
    margin: 20px;
    padding: 10px;
    width: 80%;
    /* by default blue border creates */
    border: 5px double darkgoldenrod;
}

/* focus is predefined or pseudo-class */
/* now default color will not come instead focus mentioned color display when user clicks on it */
.input_css:focus {
    outline: 5px double darkolivegreen;
    /* to remove previous color of the border, below line used */
    border: none;
    /* outline: none; */
}

.btn {
    display: block;
    width: 50%;
    border: 5px solid rgb(199, 20, 20);
    background-color: blue;
    color: chartreuse;

}